<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Evaluación 1{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'app1:vista1_app1' %}">Vista 1 - App 1</a></li>
            <li><a href="{% url 'app1:vista2_app1' %}">Vista 2 - App 1</a></li>
            <li><a href="{% url 'app2:vista1_app2' %}">Vista 1 - App 2</a></li>
            <li><a href="{% url 'app2:vista2_app2' %}">Vista 2 - App 2</a></li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
    <footer>
        <p>&copy; 2026 Evaluación 1</p>
    </footer>
</body>
</html>